/* WeatherForecast.css */
body{
  background-color: #343a40;
}
.weather-forecast-container {
  text-align: center;
  margin: 20px;
}
.button{
  padding: 1rem;
}
input{
  padding: 2rem;
}

.weather-forecast-heading {
  color: white; 
  background-color: #ffc107;
  padding: 2rem;
}

.search-container {
  padding: 2rem;
  color: white;
  background-color: #ffc107;
  margin-top: 20px;
}

.label {
  font-size: 150%;
  margin-right: 10px;
}

.input {
  padding: 5px;
  margin-right: 10px;
}

.button {
  padding: 7px 15px;
  background-color: #28a745; /* Green color for the button */
  color: #fff; /* White text color */
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.forcast{
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.forcast-day{
  width: 15rem;
  height: 18rem;
  background-color: antiquewhite;
  margin-right: 2rem;
}
.forcast-day-main-container{
  margin-top: 2rem;
  height: 18rem;
  display: flex;
  justify-content: center;
}

.forcast-day-main{
  border-radius: 2rem;
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  background-color: #42484c;
}
.upper-box{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item{
  display: flex;
  margin-top: 1rem;
}

.item-text{
  color: white;
  margin-left: 1rem;
  font-weight: 400;
  font-size: large;
}

.toggle-button {
  margin-top: 1rem;
  padding: 10px 15px;
  background-color: #4caf50; /* Green background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
